*{
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    /* background-color: #221935; */
    background-color: #13131F;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #9127DE;
}

.nav-itens {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-itens a {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foto-perfil {
    width: 400px;
    border-radius: 100%;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 50px;
    border-bottom: 1px solid #9127DE;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 70px;
    color: #BB5DFF;
    font-family: "Redressed";
    text-shadow: 0 4px 4px #7B7B7B;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.desc {
    color: #FFF;
    font-family: "Jost";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 54px;
}

.subtitulo {
    color: #FFF;
    font-family: "Inria Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
    border-bottom: 1px solid #9127DE;
}

h3 {
    color: #BB5DFF;
    margin-bottom: 50px;
    font-family: "Londrina Solid";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sobre p {
    gap: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sobre-p {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    gap: 31px;
}

.habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
    border-bottom: 1px solid #9127DE;
}

.topicos {
    display: flex;
    gap: 40px;
}

.hab-left, .hab-right {
    gap: 66px;
}

.program-fullstack, .trab-equipe, .autodidata, .SENAI, .pensa-critico, .comunicacao {
    display: flex;
    margin-top: 66px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.topico-right {
    width: 400px;
    gap: 20px;
}

h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.topico-right p {
    color: #F3F3F3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
    border-bottom: 1px solid #9127DE;
}

.proj-itens {
    display: flex;
    width: 208px;
    height: 524px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.projetos p{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 70px;
    border-bottom: 1px solid white;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
    border-bottom: 1px solid #9127DE;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}

.email, .telefone, .linkedin, .github {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.email p, .telefone p, .linkedin p, .github p {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contato-down {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

h6 {
    color: #FFF;
    font-family: "Mada";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #B3B3B3;
    font-family: "Mada";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100vw;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
/*         gap: 20px;
 */    }
    .nav-itens {
        gap: 5px;
    }

    .nav-itens a, h2 {
        font-size: 16px;
    }
    .inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .foto-perfil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        border-radius: 100%;
        flex-shrink: 0;
    }
    .right, h1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
    }
    .subtitulo {
        padding: 0;
    }
    .sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100wh;
        gap: 30px;
    }
    .sobre-p {
        width: 400px;
    }
    .habilidades {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100wh;
        gap: 30px;
    }
    .habilidades h3 {
        width: 300px;
    }
    .topicos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .topico-right {
        width: 200px;
    }

    .projetos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100wh;
        gap: 30px;
    }
    .contato {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100wh;
        gap: 30px;
    }
    .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100wh;
        gap: 30px;
    }
    footer p {
        font-style: 10px;
    }
    h3 {
        color: #BB5DFF;
        margin-bottom: 50px;
        font-family: "Londrina Solid";
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .sobre p {
        gap: 30px;
        color: #FFF;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}